@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@import "reset.scss";
@import "buttons.scss";
@import "vars.scss";


main {
  width: calc(100vw - 300px);
  background-color: #F8FBFF;

  @media (max-width: 800px) {
    width: 100vw;
    margin-top: 55px;
  }
}

.input {
  width: 100%;
  color: #454545;
  border-radius: 10px;
  border: 1px solid #454545;
  height: 50px;
  padding: 0 20px;
}

.input::placeholder {
  color: #454545;
  opacity: 0.5;
}

.container {
  margin: 0 auto;
}

.user-img_small {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  object-fit: cover;

  color: #454545;
  opacity: 0.5;
}

.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;

  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .call {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 100px;
    width: 100px;

    background-color: var(--red);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;

    transition: all 0.2s ease-in-out;

    cursor: pointer;

    @media (max-width: 800px) {
      display: none;
    }

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.pc__call {
  transform: translateY(calc(100vh - 100px)) translateX(-40px) scale(2);

  display: flex;

  @media (max-width: 800px) {
    display: none;
  }
}

.rounded-input {
  width: 100%;
  border: 1px solid rgba(#000000, 0.7);
  border-radius: 110px;
  height: 50px;
  padding-left: 20px;
  background-color: #fff;
}

.rounded-input::placeholder {
  color: #000;
  opacity: 0.5;
}