:root {
  --red: #ff8181;
  --default-radius: 25px;
  --lettuce: #69e35f; // салатовый
  --light-red: #ffb7b7;

  --red: #ff8181;
  --default-radius: 25px;
  --lettuce: #69e35f; // салатовый
  --light-blue: #f8fbff;
}
