:root {
<<<<<<< HEAD
    --red: #ff8181;
    --default-radius: 25px;
    --lettuce: #69e35f; // салатовый
    --light-red: #FFB7B7;
}
=======
  --red: #ff8181;
  --default-radius: 25px;
  --lettuce: #69e35f; // салатовый
  --light-blue: #f8fbff;
}
>>>>>>> eee9cd61c1515598d1b8e431504029a9740e2dd0
