.search-page {
    &__inner {
        padding: 50px 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        svg {
            color: #fff;
            transform: rotate(90deg);
        }
    }

    &__input-wrapper {
        display: flex;
        align-items: center;
        background-color: #fff;
        width: 750px;
        border-radius: 35px;
        padding: 0 25px;

        svg {
            color: #8D8D8D;
        }

        input {
            padding-left: 10px;
            width: 100%;
        }
    }

    &__item {
        padding: 15px;
        background-color: #fff;
        height: 150px;
        border-radius: 70px;
        border: 1px solid var(--border-color);
        position: relative;
    }
    
    &__item-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__item-img {
        width: 120px;
        height: 120px;
    }

    &__item-rating {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
    }

    &__header-filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
    }

    &__header-filter {
        cursor: pointer;
        color: #FFD2D2;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        margin-left: 50px;
    }

}